{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/base"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}